<html>
    <head>
        <title>Hello, world!</title>
        <style>
            body {
                font-family: sans-serif;
            }
            .container {
                max-width: 50em;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2>Hello world!</h2>

            <p>It's <strong>{{ time }}</strong> on <strong>{{ name }}</strong>.</p>

            <pre>{{ stats }}</pre>

            <h2>Load generator</h2>
            <p>
            {% if load %}
            The load generator is <strong>running</strong>.
            {% else %}
            The load generator is <strong>stopped</strong>.
            {% endif %}
            </p>
            <p>
            <a href="{{ url_for('.set_load', state=1) }}">Start the load generator.</a> &middot;
            <a href="{{ url_for('.set_load', state=0) }}">Stop the load generator.</a>
            </p>

            {% if results %}
            <p>Here is a list of interesting hailstone number facts found by the load generator:</p>

            <ul>
                {% for result in results %}
                <li>{{ result }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </body>
</html>
